/**COLORS
60: #FEFAE0
30: #606C38, #DDA15E
rgba(128, 148, 60, 0.816);rgba(202, 216, 156, 0.8);
10: #283618, #BC6C25
*/

/** GENERAL */

::-webkit-scrollbar {
    display: none;
}

body{
    height:100vh;
    width:100vw;
    overflow-x: hidden;

    background-color: #FEFAE0;
    font-size:1rem;
}

h2{
    font-size: 2.2rem;
    letter-spacing: 3px;

    color:#FEFAE0;
}

h3{
    font-size: 2rem;
    letter-spacing: 3px;

    color:#283618;
}

.space{
    height:33vh;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, .7);
    z-index:301;
    height:100%;
}

/** BUTTON */
.btn-outline-custom{
    border-color: #283618;
    color:#283618;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    
    padding:0.75rem; 
    margin:1rem; 
    /* margin:4rem;
    margin-top:2.5rem;
    margin-left:0;*/

}

.btn-outline-custom:hover{
    background: #FEFAE0;
    border-color:#BC6C25;
    color:#BC6C25;
    cursor: pointer;
}

.dark-bg-btn{
    color:#BC6C25;
    border-color: #BC6C25;
}

.med-bg-btn{
    color:#FEFAE0;
    border-color: #FEFAE0;
}

/** FORMS */

label{
    font-size: 0.9rem;
}

.form-floating{
    width:50%;
    
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

.form-control{
    border:none;
    border-radius: 0;
}

.form-control:hover{
    border: 1px solid #283618;
}

.form-control:focus{
    border: 2px solid #283618;
    box-shadow: 2px 2px #283618 ;
}

/** NAV BAR STYLE */
.navbar-brand,
.nav-link {
    text-transform: uppercase;
}

/** MAIN STYLE*/
 
/** MAIN INFO*/
.main-info-bg{
    height:100vh;
    top:0%;

    z-index:300;

    background-image: url("https://images.unsplash.com/photo-1517499414974-3b42addf2d86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-info{
    display:flex;
    justify-content: center;
    align-items: center;

    color:#FEFAE0;
}

.kind-of-rest{
    font-size:0.75rem;
}

.kind-of-rest span {
    color: #BC6C25;
}

.name-of-rest{
    font-size: 4rem;
}

.descr-of-rest{
    font-size: 1rem;
    margin-bottom: 3rem;
}

.social > a {
    text-decoration: none;
    color: #FEFAE0;

    margin:1rem;
    padding:0.5rem;
}

.material-icons.md-36{
    font-size:36px;
}

.material-icons.md-24{
    font-size:24px;
}

.address{
    text-align: right;
}

/** INTRO */

.img-decor {
    height:500px;
    width: auto;
}

#first-intro .img-decor {
    box-shadow: 24px 24px 4px 2px rgba(127, 148, 60, 0.541);
}

#second-intro .img-decor{
    box-shadow: 24px 24px 4px 2px rgba(127, 148, 60, 0.541),
                -24px -24px 4px 2px rgba(202, 216, 156, 0.8);
}

.intro > p {
    color:#283618;
    font-size:smaller;

    /* border-bottom: 5px solid #606C38; */
}

.intro{
    position:relative;
}

.intro:nth-child(2n+1) > p {
    position:absolute;
    top:1rem;
   /* padding-right:3rem; 
    border-right: 5px solid #606C38; */
} 


.intro:nth-child(2n) > p {
    position:absolute;
    bottom:2rem;
    /* padding-left: 10px; 
    border-left: 5px solid #606C38; */
} 

.intro2 > p {
    font-size:1.1rem;
}

.margin-y-md{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.margin-y-lg{
    margin-top:5rem;
    margin-bottom:3rem;
}


#third-intro{
    height:100vh;
    width:100vw;
}

.img-container{
    background-image: url("https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

/***/


/** MENU */

.tab-container{
    margin-top:2rem;
    text-align: center;
}


.tab-container > li {
    margin:auto;
}

.tab-container > li:hover {
    color: #283618;
}

.tab-title{
    border:none;
    font-size:0.75rem;
    color: rgba(39, 53, 24,0.5);
    font-weight:bold;
    letter-spacing:1px;
}

.nav-link.tab-title.active{
    border:none;
    letter-spacing: 1px;
    background-color: hsla(98, 100%, 70%, 0.15);
    border-bottom: 1px solid #283618;
}

.tab-title:hover{
    border:none;
    border-bottom: 1px solid #283618;
    color: #283618;
}


#menu-options > div > h2 {
    color:#283618;
    margin: 1rem 0 2rem 0;
}

.menu-element{
    height: 31vh;
    padding: 0rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
    
    border-bottom: 1px solid rgba(96, 108, 56,0.6);
}

.img_menu{
        height:90%;
        width:90%;
}

.price{
    margin-top: 2rem;
    font-size: 1.4rem;
}



/** RESERVATION */

#reservation-form{ 
    background-color:rgba(128, 148, 60, 0.816);;

    height:100vh;
    display:grid;
    place-items: center;
}

/** CAROUSEL*/
.clients > h2{
    color:#283618;
}

.carousel-inner{
    margin-top:3rem;
    text-align: center;
}

.carousel-item{
    width:90vw;
    margin:auto;
}

.carousel-item.active{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.review-portrait{
    width:50vw;
    height: auto;
    border-radius:50%;
    float: left;
    clear: both;
}

@media (min-width:770px) {
    .review-portrait{
        width:30vw;
    }
}
@media (min-width:1024px) {
    .review-portrait{
        width:20vw;
    }
}

.quote{
    display:inline;
    vertical-align:middle;
    align-self: center;

    padding:2rem;
    margin:2rem;
}

q {
    font-size:1.2rem;
    text-align: justify;
}

.author{
    font-size:1rem;
    color: rgba(96, 108, 56,0.6);
}


/** EVENTS */
.events{
    color:#283618;
    text-align: center;
}

.events >h2{
    color:#283618;
    margin-bottom:1rem;
}

#main-event{
    background-image: url("https://images.unsplash.com/photo-1484156818044-c040038b0719?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index:300;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
    
    height:90vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.main-event-content{
    text-align: left;   
    color:#BC6C25;
    
    margin-left: 55vw;
    padding-top: 5vh; 
    
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); 
}

.event-date{
    text-transform:uppercase;
    color:#BC6C25;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight:600;
}

.event-title{
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.event-descr{
    color: #dfbe99;
}

.event-reserve{
    margin:4rem;
    margin-top:2.5rem;
    margin-left:0;

    padding:1.2rem;
}

#next-event{
    padding: 2rem;
}

.next-event{
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.next-event-date{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
}


@media screen and (min-width:770px) {
    .next-event-date{
        text-align: center;
    }
    
}

@media screen and (min-width:990px){
    .next-event-date{
        font-size: 3rem;
    }
}


/** NEWSLETTER */
#newsletter{
    background-color:rgba(128, 148, 60, 0.816);
}

.news-row{
    height:60vh;
}

.section-title{
    color:#FEFAE0
}

/** FOOTER STYLE */
footer{
    background: #283618;
}

.col-title{
    padding-top: 0.4rem;
    text-transform:uppercase;
    color:#BC6C25;
    font-size: 1.1rem;
    font-weight:500;
}

.col-content {
    color:#606C38;
}
.col-content > a {
    text-decoration: none;
    color:#BC6C25;
}