/**COLORS
60: #FEFAE0
30: #606C38, #DDA15E
10: #283618, #BC6C25
*/

/** GENERAL */
body, html{
    height:100vh;
    width:100vw;

    background-color: #FEFAE0;
    color:#283618;
    font-size:1.1rem;
}

h2{
    font-size: 2rem;
    letter-spacing: 3px;
}

.btn-outline-custom{
    border-color: #283618;
    color:#283618;
    background: #FEFAE0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.btn-outline-custom:hover{
    background-color: rgba(202, 216, 156, 0.8);
    cursor: pointer;
}

.form-floating{
    width:50%;
}

.form-control:hover{
    border-color:#283618;
}

.form-control:focus{
    border: 2px solid #283618;
    box-shadow: 2px 2px #283618 ;
}

/** NAV BAR STYLE */
.navbar-brand,
.nav-link {
    text-transform: uppercase;
}

/** MAIN STYLE*/
 
/** MAIN INFO*/
.main-info-bg{
    height:100vh;
    top:0%;

    background-image: url("https://images.unsplash.com/photo-1517499414974-3b42addf2d86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-info{
    display:flex;
    justify-content: center;
    align-items: center;
}


.kind-of-rest span {
    color: yellow;
}



.address{
    text-align: right;
}

/***/

.img-decor {
    height:500px;
    width: auto;
}

#first-intro .img-decor {
    box-shadow: 24px 24px 4px 2px rgba(0, 0, 0, .2);
}

#second-intro .img-decor{
    box-shadow: 24px 24px 4px 2px rgba(0, 0, 0, .2),
                -24px -24px 4px 2px rgba(50, 50, 50, .2);
}

.margin-y-md{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.margin-y-lg{
    margin-top:5rem;
    margin-bottom:3rem;
}


#third-intro{
    height:100vh;
    width:100vw;
}

.img-container{
    background-image: url("https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

/***/

.img_menu{
        width:100px;
        height:100px;
}

/***/

#reservation-form{ 
    background-color: #d8d8d8;
}

.input-group{
    width: 100%;
}

.carousel-item{
    width: 80%;
}

.review-portrait{
    margin-left: 5rem;
    width:25vw ;
    height: auto;
    border-radius:50%;
    float: left;
    clear: both;
}

.quote{
    float:inline-start ;
    vertical-align:middle;
    position: relative;
    left: 3rem;
    right: 3rem;
    top: 2rem;
}

q {
    font-size:1.2rem;
    text-align: justify;
}

.author{
    font-size:1rem;
    color: darkgrey;
}


#clients{

}

.event-container{
    background-image: url("https://images.unsplash.com/photo-1484156818044-c040038b0719?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat: no-repeat;
    background-size: cover;

    height:65vh;
}

/***/
/***/
/***/


/** NEWSLETTER */
#newsletter{
    background-color:rgba(221, 161, 94, 0.8);
}

.news-row{
    height:70vh;
}

.section-title{
    color:#283618;
}

/** FOOTER STYLE */
footer{
    background: #283618;
}

.col-title{
    padding-top: 0.4rem;
    text-transform:uppercase;
    color:#BC6C25;
    font-size: 1.1rem;
    font-weight:500;
}

.col-content {
    color:#606C38;
}
.col-content > a {
    text-decoration: none;
    color:#BC6C25;
}